/*-- scss:defaults --*/

$navbar-fg: #fdfeff;
$navbar-hl: #f0f0f0;

/*-- scss:rules --*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.blockquote {
  color: var(--bs-body-color);
}

/* Make the TOC title slightly bold */
#toc-title {
  font-weight: 500;
}

// Fake the section title in the left navbar
.sidebar-menu-container .sidebar-item:first-child .sidebar-item-container {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5em;
}
.sidebar-menu-container .sidebar-item-section .sidebar-item-container {
  // Reset back to normal for sub-sections
  font-weight: normal !important;
  border-bottom: none !important;
}